.card {
width: 18rem;
margin-top: 10px;
text-align: center;
}

.card-title {
height: 2rem;
font-family: fantasy;
}

.card-deck {
	margin:;
}

footer {
margin-top: 10px;
background-color: #000000;
}
        
h4, .table-bordered {
	margin: 5px;
	text-align: center;
}        
